@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
}

@keyframes gradientMove {
  100% {
    background-position: 400%;
  }
}

.gradient-text {
  background: linear-gradient(
    135deg,
    #5335cf 0%,
    #de005e 25%,
    #f66e46 50%,
    #de005e 75%,
    #5335cf 100%
  );
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate-gradient {
  animation: gradientMove 10s linear infinite;
}
